<footer class="container-fluid p-5" th:fragment="footer">
    <!-- Logo do Mapler versao branca -->
    <img src="https://portugol.sourceforge.io/assets/images/logo-branco.png" alt="Logo Branco do Mapler" width="100px" class="mb-3">

    <!-- Informações de Copyright e Atualização -->
    <p>
        <em>Copyright &copy; 2006-2023</em>
        Projeto<strong> Mapler</strong> - Compilador Portugol.
        Última atualização: novembro/2023.
    </p>

    <!-- Link para a página do projeto no sourceforge -->
    <p>
        Página do Projeto:
        <a href="https://sourceforge.net/projects/portugol/" target="_blank" rel="noopener noreferrer" class="text-light">
            <strong>sourceforge.net/projects/portugol</strong>
        </a>.
    </p>

    <!-- Desenvolvedores do site + link para o GitHub de cada um. -->
    <p>
        Site desenvolvido por
        <a href="https://github.com/DavidGomesh" target="_blank" rel="noopener noreferrer" class="text-light">
            <strong>David Gomesh</strong>
        </a>,
        <a href="https://github.com/EliasRLima" target="_blank" rel="noopener noreferrer" class="text-light">
            <strong> Elias Lima</strong>
        </a>
        e
        <a href="https://github.com/techdonne" target="_blank" rel="noopener noreferrer" class="text-light">
            <strong>Daniel Araújo</strong>
        </a>.
    </p>
</footer>