<div class="accordion mb-3" id="accordionExamplos" th:fragment="menu-exemplo" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingExemplosFluxograma">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplosFluxograma" aria-expanded="true" aria-controls="collapseExemplosFluxograma">
                Exemplos em Fluxograma
            </button>
        </h2>
        <div id="collapseExemplosFluxograma" class="accordion-collapse collapse show" aria-labelledby="headingExemplosFluxograma" data-bs-parent="#accordionExemplosFluxograma">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-12 col-sm">
                        <div class="row pb-1 mb-2">
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/exemplo/fluxograma/estrutura-fluxograma">Estrutura do Fluxograma</a></div>
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/exemplo/fluxograma/entrada-saida">Entrada e Saída</a></div>
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/exemplo/fluxograma/associacao">Associações</a></div>
                        </div>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/exemplo/fluxograma/operacoes">Operações</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/exemplo/fluxograma/operacoes#processamento">Processamento</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/exemplo/fluxograma/condicionais">Condicionais</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/exemplo/fluxograma/condicionais#decisao">Decisão</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/exemplo/fluxograma/lacos">Laços</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/exemplo/fluxograma/lacos#Simples">Simples</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/fluxograma/lacos#Composto">Compostos</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/fluxograma/lacos#Erros">Erros comuns</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>