<!-- Menu -->
<div class="accordion mb-3" id="accordionExamplos">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingExemplos">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplos" aria-expanded="true" aria-controls="collapseExemplos">
                Sobre o Diagrama
            </button>
        </h2>
        <div id="collapseExemplos" class="accordion-collapse collapse show" aria-labelledby="headingExemplos" data-bs-parent="#accordionExamplos">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-12 col-sm">
                        <div class="row pb-1 mb-2">
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/ajuda/fluxograma/geral">Estrutura do
                                Diagrama</a></div>
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/ajuda/fluxograma/entrada-saida">Entrada e Saída</a>
                            </div>
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/ajuda/fluxograma/lacos">Laços de repetição</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/ajuda/fluxograma/pontoscontrole">Pontos de
                            controle</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/ajuda/fluxograma/pontoscontrole">Inicio</a></li>
                            <li><a class="link-light text-decoration-none" href="/ajuda/fluxograma/pontoscontrole">Fim</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/ajuda/fluxograma/figuras">Figuras</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/ajuda/fluxograma/figuras">Entrada</a></li>
                            <li><a class="link-light text-decoration-none" href="/ajuda/fluxograma/figuras">Saída</a></li>
                            <li><a class="link-light text-decoration-none" href="/ajuda/fluxograma/figuras">Condição</a></li>
                            <li><a class="link-light text-decoration-none" href="/ajuda/fluxograma/figuras">Processamento</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/ajuda/fluxograma/eventos">Eventos</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/ajuda/fluxograma/eventos">Mover</a></li>
                            <li><a class="link-light text-decoration-none" href="/ajuda/fluxograma/eventos">Associar</a></li>
                            <li><a class="link-light text-decoration-none" href="/ajuda/fluxograma/eventos">Remover</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>