<div class="accordion mb-3" id="accordionExamplos" th:fragment="menu-exemplo" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingExemplosPortugol">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplosPortugol" aria-expanded="true" aria-controls="collapseExemplosPortugol">
                Exemplos em Portugol
            </button>
        </h2>
        <div id="collapseExemplosPortugol" class="accordion-collapse collapse show" aria-labelledby="headingExemplosPortugol" data-bs-parent="#accordionExemplosPortugol">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-12 col-sm">
                        <div class="row pb-1 mb-2">
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/exemplo/portugol/estrutura-codigo">Estrutura do Código</a></div>
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/exemplo/portugol/entrada-saida">Entrada e Saída</a></div>
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/exemplo/portugol/modulos">Módulos</a></div>
                        </div>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/exemplo/portugol/tipos">Tipos</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/tipos#Numericos">Numéricos</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/tipos#Booleano">Booleano</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/tipos#Literais">Literais</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/tipos#Vetor">Vetor</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/exemplo/portugol/operacoes">Operações</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/operacoes#Adicao">Adição</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/operacoes#Subtracao">Subtração</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/operacoes#Multiplicacao">Multiplicação</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/operacoes#Divisao">Divisão</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/operacoes#Precedencia">Precedência</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/exemplo/portugol/condicionais">Condicionais</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/condicionais#Se">Se</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/condicionais#Senao">Senão</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/exemplo/portugol/lacos">Laços</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/lacos#Para">Para</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/lacos#Enquanto">Enquanto</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/portugol/lacos#Repita">Repita</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>