<div class="accordion mb-3" id="accordionExamplos">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingExemplos">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplos" aria-expanded="true" aria-controls="collapseExemplos">
                Categorias de exercícios
            </button>
        </h2>
        <div id="collapseExemplos" class="accordion-collapse collapse show" aria-labelledby="headingExemplos" data-bs-parent="#accordionExamplos">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-12 col-sm">
                        <div class="row pb-1 mb-2"> <!--talvez implementar níveis nas questões-->
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/hubexercicios/sequenciais#VisaoGeral">Estruturas Sequenciais</a></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm">
                        <div class="row pb-1 mb-2">
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/hubexercicios/decisoes#VisaoGeral">Estruturas de Decisão</a></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm">
                        <div class="row pb-1 mb-2">
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/hubexercicios/repeticoes#VisaoGeral">Estruturas de Repetição</a></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm">
                        <div class="row pb-1 mb-2">
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/hubexercicios/procedimentos#VisaoGeral">Procedimentos</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
