<div class="accordion mb-3" id="accordionExamplos" th:fragment="menu-exemplo">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingExemplos">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplos" aria-expanded="true" aria-controls="collapseExemplos">
                Mais Exemplos
            </button>
        </h2>
        <div id="collapseExemplos" class="accordion-collapse collapse show" aria-labelledby="headingExemplos" data-bs-parent="#accordionExamplos">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-12 col-sm">
                        <div class="row pb-1 mb-2">
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/exemplo/estrutura-codigo">Estrutura do Código</a></div>
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/exemplo/entrada-saida">Entrada e Saída</a></div>
                            <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="/exemplo/modulos">Módulos</a></div>
                        </div>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/exemplo/tipos">Tipos</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/exemplo/tipos">Numéricos</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/tipos">Booleano</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/tipos">Literais</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/tipos">Vetor</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/exemplo/operacoes">Operações</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/exemplo/operacoes">Adição</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/operacoes">Subtração</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/operacoes">Multiplicação</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/operacoes">Divisão</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/operacoes">Precedência</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/exemplo/condicionais">Condicionais</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/exemplo/condicionais">Se</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/condicionais">Senão</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <a class="link-light text-decoration-none fw-bold fs-6" href="/exemplo/lacos">Laços</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="/exemplo/lacos">Para</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/lacos">Enquanto</a></li>
                            <li><a class="link-light text-decoration-none" href="/exemplo/lacos">Repita</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>