<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head.html"></head>
<body>

    <!-- Header -->
    <!-- Cabecalho -->
    <header th:replace="fragmentos/header.html"></header>
    <!-- Corpo principal do site -->
    <main>
        <div class="container py-5 px-3 pt-3 px-sm-5">
            <!-- Menu -->
            <div class="accordion mb-3" id="accordionExamplos">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingExemplos">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplos" aria-expanded="true" aria-controls="collapseExemplos">
                            Mais Exemplos
                        </button>
                    </h2>
                    <div id="collapseExemplos" class="accordion-collapse collapse show" aria-labelledby="headingExemplos" data-bs-parent="#accordionExamplos">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-12 col-sm">
                                    <div class="row pb-1 mb-2">
                                        <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/estrutura-codigo.html#VisaoGeral">Estrutura do Código</a></div>
                                        <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/entrada-saida.html#VisaoGeral">Entrada e Saída</a></div>
                                        <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/modulos.html#VisaoGeral">Módulos</a></div>
                                    </div>
                                </div>
            
                                <div class="col-6 col-sm">
                                    <a class="link-light text-decoration-none fw-bold fs-6" href="https://portugol.sourceforge.io/exemplos/tipos.html#VisaoGeral">Tipos</a>
                                    <ul>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/tipos.html#Numericos">Numéricos</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/tipos.html#Booleano">Booleano</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/tipos.html#Literais">Literais</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/tipos.html#Vetor">Vetor</a></li>
                                    </ul>
                                </div>
            
                                <div class="col-6 col-sm">
                                    <a class="link-light text-decoration-none fw-bold fs-6" href="https://portugol.sourceforge.io/exemplos/operacoes.html#VisaoGeral">Operações</a>
                                    <ul>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Adicao">Adição</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Subtracao">Subtração</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Multiplicacao">Multiplicação</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Divisao">Divisão</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Precedencia">Precedência</a></li>
                                    </ul>
                                </div>
            
                                <div class="col-6 col-sm">
                                    <a class="link-light text-decoration-none fw-bold fs-6" href="https://portugol.sourceforge.io/exemplos/condicionais.html#VisaoGeral">Condicionais</a>
                                    <ul>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/condicionais.html#Se">Se</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/condicionais.html#Senao">Senão</a></li>
                                    </ul>
                                </div>
            
                                <div class="col-6 col-sm">
                                    <a class="link-light text-decoration-none fw-bold fs-6" href="https://portugol.sourceforge.io/exemplos/lacos.html#VisaoGeral">Laços</a>
                                    <ul>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/lacos.html#Para">Para</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/lacos.html#Enquanto">Enquanto</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/lacos.html#Repita">Repita</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
            
<!-- Secao principal -->
<section>
    <div class="mt-4">
        <!-- Descrição rapida -->
        <h1 id="VisaoGeral">Comandos de Entrada e Saída</h1>
        <p class="lead">
            Comando usados para interação do usuário com o algoritmo.
        </p>

        <!-- Comandos de Entrada -->
        <h4 class="mt-5">Entrada</h4>
        <p class="lead">
            Recebe dados do usuário a partir do teclado. O valor digitado será armazenado na variável indicada.<br>
            <code>ler &lt;variavel&gt;;</code>
        </p>

        <pre class="pre">
            <span class="comentario">// Exemplo do comando de entrada</span><br>
            <span class="reservada">variaveis</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;numero<span class="caractere">:</span> <span class="tipo">inteiro</span>;<br>
            <span class="reservada">inicio</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">ler</span> numero;<br>
            <span class="reservada">fim</span><br>
        </pre>

        <!-- Comandos de Saida -->
        <h4 class="mt-5">Saída</h4>
        <p class="lead">
            Exibe o conteúdo no terminal. O comando aceita um texto ou uma variavel como parâmetro. Pode-se também concatenar um texto com uma variável. <br>
            <code>escrever &lt;"texto"&gt;&lt;, variavel&gt;;</code>
        </p>

        <pre class="pre">
            <span class="comentario">// Exemplo do comando de saída</span><br>
            <span class="reservada">variaveis</span><br>
            <span class="reservada">inicio</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">escrever</span> <span class="string">"Hello, world!"</span>;<br>
            <span class="reservada">fim</span><br>
        </pre>

        <!-- Exemplos -->
        <h4 class="mt-5">Exemplo</h4>
        <pre class="pre">
            <span class="comentario">// Exemplo utilizando comandos de entrada e saída<br></span>
            <span class="reservada">variaveis</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;nome<span class="caractere">:</span> <span class="tipo">cadeia</span>;<br>
            <span class="reservada">inicio</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">escrever</span> <span class="string">"Digite seu nome:"</span>;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">ler</span> nome;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">escrever</span> <span class="string">"Olá "</span>, nome;<br>
            <span class="reservada">fim</span><br>
        </pre>
    </div>
</section>

        </div>
    </main>

    <!-- Footer -->
    <!-- Rodape -->
    <footer th:replace="fragmentos/footer.html"></footer>
    <!-- JS -->
    <!-- Bootstrap 5 Bundle Core -->
<script src="https://portugol.sourceforge.io/assets/js/bootstrap.bundle.min.js"></script></body>

</html>