<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head.html"></head>
<body>

    <!-- Header -->
    <!-- Cabecalho -->
    <header th:replace="fragmentos/header.html"></header>
    <!-- Corpo principal do site -->
    <main>
        <div class="container py-5 px-3 pt-3 px-sm-5">
            <!-- Menu -->
            <div class="accordion mb-3" id="accordionExamplos">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingExemplos">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplos" aria-expanded="true" aria-controls="collapseExemplos">
                            Mais Exemplos
                        </button>
                    </h2>
                    <div id="collapseExemplos" class="accordion-collapse collapse show" aria-labelledby="headingExemplos" data-bs-parent="#accordionExamplos">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-12 col-sm">
                                    <div class="row pb-1 mb-2">
                                        <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/estrutura-codigo.html#VisaoGeral">Estrutura do Código</a></div>
                                        <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/entrada-saida.html#VisaoGeral">Entrada e Saída</a></div>
                                        <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/modulos.html#VisaoGeral">Módulos</a></div>
                                    </div>
                                </div>
            
                                <div class="col-6 col-sm">
                                    <a class="link-light text-decoration-none fw-bold fs-6" href="https://portugol.sourceforge.io/exemplos/tipos.html#VisaoGeral">Tipos</a>
                                    <ul>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/tipos.html#Numericos">Numéricos</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/tipos.html#Booleano">Booleano</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/tipos.html#Literais">Literais</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/tipos.html#Vetor">Vetor</a></li>
                                    </ul>
                                </div>
            
                                <div class="col-6 col-sm">
                                    <a class="link-light text-decoration-none fw-bold fs-6" href="https://portugol.sourceforge.io/exemplos/operacoes.html#VisaoGeral">Operações</a>
                                    <ul>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Adicao">Adição</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Subtracao">Subtração</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Multiplicacao">Multiplicação</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Divisao">Divisão</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Precedencia">Precedência</a></li>
                                    </ul>
                                </div>
            
                                <div class="col-6 col-sm">
                                    <a class="link-light text-decoration-none fw-bold fs-6" href="https://portugol.sourceforge.io/exemplos/condicionais.html#VisaoGeral">Condicionais</a>
                                    <ul>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/condicionais.html#Se">Se</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/condicionais.html#Senao">Senão</a></li>
                                    </ul>
                                </div>
            
                                <div class="col-6 col-sm">
                                    <a class="link-light text-decoration-none fw-bold fs-6" href="https://portugol.sourceforge.io/exemplos/lacos.html#VisaoGeral">Laços</a>
                                    <ul>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/lacos.html#Para">Para</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/lacos.html#Enquanto">Enquanto</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/lacos.html#Repita">Repita</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
            
<!-- Secao principal -->
<section>
    <div class="mt-4">
        <!-- Visao Geral -->
        <section id="VisaoGeral">
            <!-- Descrição rapida -->
            <!-- <hr class="mt-5"> -->
            <h1>Laços de Repetição</h1>
            <p class="lead">
                São estruturas que utilizam condições para repetir trechos de código. Usamos os comandos <code>para</code>, <code>enquanto</code> e <code>repita</code>.
            </p>
        </section>
        
        <!-- Para -->
        <section id="Para">
            <hr class="mt-5">
            <h2>Comando Para</h2>
            <p class="lead">
                O laço <code>para</code> repete um trecho de código enquanto o valor de uma determinada variável estiver no intervalo definido.
            </p>

            <pre class="pre">
                <span class="comentario">// Sintaxe do comando para</span><br>
                <span class="reservada">variaveis</span><br>
                <span class="reservada">início</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">para </span>&lt;var><span class="reservada"> de </span>&lt;inicio> <span class="reservada">ate </span>&lt;fim><span class="reservada"> passo </span>&lt;inc><span class="reservada"> faca</span>  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;trecho de código> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">fim</span><span class="reservada"> para</span>; <br>
                <span class="reservada">fim</span><br>
            </pre>

            <ul class="lead">
                <li><strong>var:</strong> variável de controle</li>
                <li><strong>início:</strong> valor inicial</li>
                <li><strong>fim:</strong> valor final</li>
                <li><strong>inc:</strong> valor do incremento</li>
            </ul>

            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Observação!</h4>
                <ul>
                    <li>quando inicio &lt; fim, o laço irá incrementar o valor da variável</li>
                    <li>quando inicio = fim, o laço irá rodar uma única vez</li>
                    <li>quando inicio > fim, o laço não executará</li>
                </ul>
            </div>

            <h4 class="mt-5">Exemplo</h4>
            <pre class="pre">
                <span class="comentario">// Exemplo de Repetição</span><br>
                <span class="reservada">variaveis</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;i<span class="caractere">: </span><span class="tipo">inteiro</span>;<br>
                <span class="reservada">inicio</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">para </span>i<span class="reservada"> de </span>1 <span class="reservada">ate </span>5<span class="reservada"> passo </span>1<span class="reservada"> faca</span>  <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">escrever </span>i; <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">fim</span><span class="reservada"> para</span>; <br>
                <span class="reservada">fim</span><br>
            </pre>

            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Observação!</h4>
                <p>
                    O comando "para" aceita outros blocos de "para" dentro de seu &lt;trecho de codigo>. <br>
                    Porém, estes devem ser fechados antes que o "para" mais externo finalize.
                </p>
            </div>
        </section>

        <!-- Enquanto -->
        <section id="Enquanto">
            <hr class="mt-5">
            <h2>Comando Enquanto</h2>
            <p class="lead">
                O <code>enquanto</code> irá repetir um trecho de código enquanto sua condição for verdadeira.
            </p>

            <pre class="pre">
                <span class="reservada">variaveis</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;i<span class="caractere">: </span><span class="tipo">inteiro</span>;<br>

                <span class="reservada">inicio</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;i <span class="caractere">&lt;-</span> 1;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comentario">// Enquanto essa condição for verdadeira</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">enquanto </span>i &lt;= 5<span class="reservada"> faca</span> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="comentario">// Execute esse trecho de código</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">escrever </span>i;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i <span class="caractere">&lt;-</span> i + 1;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">fim</span><span class="reservada"> enquanto</span>;<br>
                <span class="reservada">fim</span><br>
            </pre>

            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Observação!</h4>
                <p>
                    O comando "enquanto" aceita outros blocos de "enquanto" dentro de seu &lt;trecho de codigo>. <br>
                    Porém, estes devem ser fechados antes que o "enquanto" mais externo finalize.
                </p>
            </div>
        </section>

        <!-- Repita -->
        <section id="Repita">
            <hr class="mt-5">
            <h2>Comando Repita</h2>
            <p class="lead">
                O <code>repita</code> é um laço que obrigatoriamente rodará os comandos internos pelo menos uma vez, isso porque ele faz a verificação somente depois executar seu bloco interno.
            </p>

            <pre class="pre">
                <span class="reservada">variaveis</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;x<span class="caractere">:</span><span class="tipo">inteiro</span>;<br>

                <span class="reservada">inicio</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;x<span class="caractere">&lt;-</span>1;<br><br>

                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comentario">// Executa o trecho de código primeiro</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comentario">// Depois repete enquanto a condição for verdadeira</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">repita</span> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">escrever </span>x;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x<span class="caractere">&lt;-</span> x+1;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">ate </span><span class="caractere">(</span>x &lt;= 5<span class="caractere">)</span>;<br>

                <span class="reservada">fim</span><br>
            </pre>

            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Observação!</h4>
                <p>
                    O comando "enquanto" aceita outros blocos de "enquanto" dentro de seu &lt;trecho de codigo>. <br>
                    Porém, estes devem ser fechados antes que o "enquanto" mais externo finalize.
                </p>
            </div>
        </section>
    </div>
</section>

        </div>
    </main>

    <!-- Footer -->
    <!-- Rodape -->
    <footer th:replace="fragmentos/footer.html"></footer>
    <!-- JS -->
    <!-- Bootstrap 5 Bundle Core -->
<script src="https://portugol.sourceforge.io/assets/js/bootstrap.bundle.min.js"></script></body>

</html>