<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head.html"></head>
<body>

    <!-- Header -->
    <!-- Cabecalho -->
    <header th:replace="fragmentos/header.html"></header>
    <!-- Corpo principal do site -->
    <main>
        <div class="container py-5 px-3 pt-3 px-sm-5">
            <!-- Menu -->
            <div class="accordion mb-3" id="accordionExamplos">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingExemplos">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExemplos" aria-expanded="true" aria-controls="collapseExemplos">
                            Mais Exemplos
                        </button>
                    </h2>
                    <div id="collapseExemplos" class="accordion-collapse collapse show" aria-labelledby="headingExemplos" data-bs-parent="#accordionExamplos">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-12 col-sm">
                                    <div class="row pb-1 mb-2">
                                        <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/estrutura-codigo.html#VisaoGeral">Estrutura do Código</a></div>
                                        <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/entrada-saida.html#VisaoGeral">Entrada e Saída</a></div>
                                        <div class="col col-sm-12 mb-sm-2 fw-bold fs-6 text-center text-sm-start"> <a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/modulos.html#VisaoGeral">Módulos</a></div>
                                    </div>
                                </div>
            
                                <div class="col-6 col-sm">
                                    <a class="link-light text-decoration-none fw-bold fs-6" href="https://portugol.sourceforge.io/exemplos/tipos.html#VisaoGeral">Tipos</a>
                                    <ul>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/tipos.html#Numericos">Numéricos</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/tipos.html#Booleano">Booleano</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/tipos.html#Literais">Literais</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/tipos.html#Vetor">Vetor</a></li>
                                    </ul>
                                </div>
            
                                <div class="col-6 col-sm">
                                    <a class="link-light text-decoration-none fw-bold fs-6" href="https://portugol.sourceforge.io/exemplos/operacoes.html#VisaoGeral">Operações</a>
                                    <ul>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Adicao">Adição</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Subtracao">Subtração</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Multiplicacao">Multiplicação</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Divisao">Divisão</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/operacoes.html#Precedencia">Precedência</a></li>
                                    </ul>
                                </div>
            
                                <div class="col-6 col-sm">
                                    <a class="link-light text-decoration-none fw-bold fs-6" href="https://portugol.sourceforge.io/exemplos/condicionais.html#VisaoGeral">Condicionais</a>
                                    <ul>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/condicionais.html#Se">Se</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/condicionais.html#Senao">Senão</a></li>
                                    </ul>
                                </div>
            
                                <div class="col-6 col-sm">
                                    <a class="link-light text-decoration-none fw-bold fs-6" href="https://portugol.sourceforge.io/exemplos/lacos.html#VisaoGeral">Laços</a>
                                    <ul>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/lacos.html#Para">Para</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/lacos.html#Enquanto">Enquanto</a></li>
                                        <li><a class="link-light text-decoration-none" href="https://portugol.sourceforge.io/exemplos/lacos.html#Repita">Repita</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
            
<!-- Secao principal -->
<section>
    <div class="mt-4">
        <!-- Visao Geral -->
        <section id="VisaoGeral">
            <!-- Descrição rapida -->
            <!-- <hr class="mt-5"> -->
            <h1>Módulos</h1>
            <p class="lead">
                <strong>Módulos</strong> são blocos externos ao bloco principal, podem ser executados várias vezes apenas com uma chamada. Assim, módulos evitam que um mesmo algoritmo precise ser escrito várias vezes.
            </p>

            <h4 class="mt-5">Sintaxe</h4>
            <pre class="pre">
                <span class="reservada">variaveis</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comentario">// Declaração do módulo</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;dizerOla<span class="caractere">:</span> <span class="tipo">modulo</span>;<br>
                
                <span class="reservada">inicio</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="comentario">// Chamada do módulo</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;dizerOla;<br>
                
                <span class="reservada">fim</span><br><br>
                
                <span class="comentario">// Definição do módulo</span><br>
                <span class="tipo">modulo</span> dizerOla; <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">escrever </span><span class="string">"Olá, mundo!"</span>;<br>
                <span class="reservada">fim</span> <span class="tipo">modulo</span>;<br><br>
            </pre>

            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Observação!</h4>
                <ul>
                    <li>O <strong>módulo</strong> precisa ser declarado no bloco principal.</li>
                    <li>Um <strong>módulo</strong> reconhece as variáveis que pertecem ao bloco principal.</li>
                    <li>Um <strong>módulo</strong> pode ter diversos comandos internos.</li>
                </ul>
            </div>

            <h4 class="mt-5">Exemplo</h4>
            <pre class="pre">
                <span class="reservada">variaveis</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;a, b<span class="caractere">:</span><span class="tipo">inteiro</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;somar<span class="caractere">:</span> <span class="tipo">modulo</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;dividir<span class="caractere">:</span> <span class="tipo">modulo</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;sibtrair<span class="caractere">:</span> <span class="tipo">modulo</span>;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;multiplicar<span class="caractere">:</span> <span class="tipo">modulo</span>;<br>

                <span class="reservada">inicio</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;a<span class="caractere">&lt;-</span>10;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;b<span class="caractere">&lt;-</span>5;<br><br>

                &nbsp;&nbsp;&nbsp;&nbsp;somar;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;sibtrair;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;multiplicar;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;dividir;<br>

                <span class="reservada">fim</span><br><br>

                <span class="tipo">modulo</span> somar <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">escrever </span>a, <span class="string">"+"</span>, b, <span class="string">"="</span>, a+b;<br>
                <span class="reservada">fim</span> <span class="tipo">modulo</span>;<br><br>

                <span class="tipo">modulo</span> multiplicar <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">escrever </span>a, <span class="string">"*"</span>, b, <span class="string">"="</span>, a*b;<br>
                <span class="reservada">fim</span> <span class="tipo">modulo</span>;<br><br>

                <span class="tipo">modulo</span> sibtrair <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">escrever </span>a, <span class="string">"-"</span>, b, <span class="string">"="</span>, a-b;<br>
                <span class="reservada">fim</span> <span class="tipo">modulo</span>;<br><br>

                <span class="tipo">modulo</span> dividir <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="reservada">escrever </span>a, <span class="string">"/"</span>, b, <span class="string">"="</span>, a/b;<br>
                <span class="reservada">fim</span> <span class="tipo">modulo</span>;<br><br>
            </pre>
        </section>
    </div>
</section>

        </div>
    </main>

    <!-- Footer -->
    <!-- Rodape -->
<footer class="container-fluid p-5">
    <!-- Logo do Mapler versao branca -->
    <img src="https://portugol.sourceforge.io/assets/images/logo-branco.png" alt="Logo Branco do Mapler" width="100px" class="mb-3">

    <!-- Informações de Copyright e Atualização -->
    <p>
        <em>Copyright &copy; 2006-2022</em>
        Projeto<strong> Mapler</strong> - Compilador Portugol.
        Última atualização: Fevereiro/2022.
    </p>

    <!-- Link para a página do projeto no sourceforge -->
    <p>
        Página do Projeto:
        <a href="https://sourceforge.net/projects/portugol/" target="_blank" rel="noopener noreferrer" class="text-light">
            <strong>sourceforge.net/projects/portugol</strong>
        </a>.
    </p>

    <!-- Desenvolvedores do site + link para o GitHub de cada um. -->
    <p>
        Site desenvolvido por
        <a href="https://github.com/DavidGomesh" target="_blank" rel="noopener noreferrer" class="text-light">
            <strong>David Gomesh</strong>
        </a>
        e
        <a href="https://github.com/EliasRLima" target="_blank" rel="noopener noreferrer" class="text-light">
            <strong>Elias Lima</strong>
        </a>.
    </p>
</footer>
    <!-- JS -->
    <!-- Bootstrap 5 Bundle Core -->
<script src="https://portugol.sourceforge.io/assets/js/bootstrap.bundle.min.js"></script></body>

</html>