.pre{
    font-family: "SFMono-Regular","Menlo","Monaco","Consolas","Liberation Mono","Courier New",monospace;
    /* font-size: 1.25rem; */
    font-weight: 300;

    background-color: #202324;
    padding: 1.5rem;

    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}

.codigo{
    color: #ddd9d2;
}

.reservada{
    font-weight: bold;
    color: rgb(63, 167, 242);
}

.tipo{
    color: rgb(243, 178, 80);
}

.string{
    color: rgb(237, 50, 50);
}

.comentario{
    color: rgb(128, 158, 114);
    /* VS Code Color Comentary */
    /* color: #6A9955; */
    /* Mapler Color Comentary */
    /* color: rgb(128, 128, 128); */
}

.caractere{
    color: rgb(53, 214, 183);
}