<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width" />

    <title>MAPLER</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
    <form action="#" th:action="@{/codigo}" th:object="${codigo}" method="post">
        <textarea th:field="*{texto}" rows="10" style="height: auto;">
        </textarea>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" />
    </form>

    <div class="panel panel-default" style="margin: 10px" th:if="${tradutor.getStatus() == 'TRUE'}">
        <div class="panel-heading">
            <h1 class="panel-title">Traducao</h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Resultado</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="codigo : ${codigo}">
                    <td >
                        <textarea th:text="${codigo.getTexto()}" rows="10" style="height: auto;">
                        </textarea>
                    </td>
                    <td >
                        <textarea th:text="${tradutor.getTraducao()}" rows="10" style="height: auto;">
                        </textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>