<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head.html"></head>

<body class="bg-dark">
<header th:replace="fragmentos/header.html"></header>

<main style="padding-top: 15px;padding-left: 20px;">
    <form action="#" th:action="@{/codigo}" th:object="${codigo}" method="post">
        <button type="button" class="btn btn-primary" style="margin-left: 44.25%;" disabled>Executar</button>
        <input type="submit" class="btn btn-primary" value="Traduzir"/>

        <div class="row" style="width: 100%;margin-top: 10px;">
            <div class="col-sm-6">
                <textarea rows="30" id="text_cod" th:field="*{texto}" th:text="${codigo.getTexto()}"
                          style="min-height:50px;height:100%;width:100%;background-color: #292a2c;color: aliceblue;"></textarea>
            </div>
            <div class="col-sm-6" th:if="${tradutor.getStatus() != 'PROVISORIO'}">
                <textarea rows="30" id="text_traducao" th:text="${tradutor.getTraducao()}"
                          style="min-height:50px;height:100%;width:90%;background-color: #292a2c;color: aliceblue;"
                          readonly></textarea>
            </div>
        </div>
    </form>
</main>

<footer th:replace="fragmentos/footer.html"></footer>

<script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</body>

</html>