<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head.html"></head>
<body>

    <!-- Header -->
    <!-- Cabecalho -->
    <header th:replace="fragmentos/header.html"></header>
    <!-- Corpo principal do site -->
    <main>
        <div class="container py-5 px-3 pt-3 px-sm-5">
            <!-- Content -->
            
<!-- Primeira secao -->
<section>
    <div>
        <h1>Contato</h1>
        <p class="lead mt-3">
            Atualmente estamos respondendo duvidas, sugestões de melhorias e contatos em gerais por e-mail. <br>
            <a class="text-decoration-none" href="mailto:compiladorportugol@gmail.com">
                <span class="rosa">
                    compiladorportugol@gmail.com
                </span>
            </a>
        </p>

        <p class="lead mt-5">
            Mais informações podem ser encontradas na página do projeto no SourceForge: <br>
            <a class="text-decoration-none" href="sourceforge.net/projects/portugol">
                <span class="rosa">
                    sourceforge.net/projects/portugol
                </span>
            </a>
        </p>
    </div>
</section>

        </div>
    </main>

    <!-- Footer -->
    <!-- Rodape -->
    <footer th:replace="fragmentos/footer.html"></footer>
    <!-- JS -->
    <!-- Bootstrap 5 Bundle Core -->
<script src="https://portugol.sourceforge.io//assets/js/bootstrap.bundle.min.js"></script></body>

</html>