<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head.html"></head>
<body>

    <!-- Header -->
    <!-- Cabecalho -->
    <header th:replace="fragmentos/header.html"></header>
    <!-- Corpo principal do site -->
    <main>
        <div class="container py-5 px-3 pt-3 px-sm-5">
            <!-- Content -->
            
<!-- Primeira secao -->
<section>
    <div>
        <h1>Baixar Versão Atual</h1>
        <div class="d-flex flex-row align-items-center">
            <div class="d-flex flex-column ">
                <div class="h5">Download para:</div>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <!-- Link de Download para Windows -->
                    <a href="https://sourceforge.net/projects/portugol/files/mapler_v0.0.4_windows.zip/download">
                        <button type="button" class="btn btn-outline-primary me-1">Windows</button>
                    </a>
                    
                    <!-- Link de Download para Linux -->
                    <a href="https://sourceforge.net/projects/portugol/files/mapler_v0.0.4_linux.zip/download">
                        <button type="button" class="btn btn-outline-primary me-1">Linux</button>
                    </a>
                    
                    <!-- Link de Download para MacOS -->
                    <a href="https://sourceforge.net/projects/portugol/files/mapler_v0.0.4_mac.zip/download">
                        <button type="button" class="btn btn-outline-primary me-1">MacOS</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Segunda secao -->
<section>
    <div class="mt-5">
        <div>
            <h3>Histórico de Versões</h3>
        </div>
        </br>

        <h5>[Update] - Versão v0.0.4</h5>
        <ul class="lead">
            <li>Exemplos atualizado.</li>
            <li>Correção de pequenos bugs.</li>
        </ul>
        <p>Necessário JAVA 11 ou superior.</p>

        <hr>

        <h5>[Update] - Versão v0.0.3</h5>
        <ul class="lead">
            <li>Adicionado temas;</li>
            <li>Tamanho da fonte personalizado;</li>
            <li>Correção de bugs ao salvar arquivo;</li>
            <li>Exemplos atualizado.</li>
            <li>Adicionado icone ao software.</li>
            <li>Refeito a build para diferentes sistemas.</li>
        </ul>
        <p>Necessário JAVA 11 ou superior.</p>

        <hr>

        <h5>[Correção] - Versão v0.0.2</h5>
        <ul class="lead">
            <li>Ajustes no mover da tela código;</li>
            <li>Links da tela inicial ajustados para o site;</li>
            <li>Desativado LOG do interpretador;</li>
            <li>Exemplos de modulos atualizado.</li>
        </ul>
        <p>Necessário JAVA 11 ou superior.</p>

        <hr>

        <h5>[Update] - Versao v0.0.1</h5>
        <ul class="lead">
            <li>Adicionado exemplos na área código;</li>
            <li>Adicionado sistema para depuração passo-a-passo (DEBUG);</li>
            <li>Tradução para a linguagem PYTHON;</li>
            <li>Nova estrutura de interpretação;</li>
            <li>Nova estrutura de colorir na área código;</li>
            <li>Nova interface para o sistema;</li>
            <li>Design do projeto reformulado;</li>
            <li>Projeto MACP renomeado para MAPLER;</li>
            <li>Tradução em Java, C, C++ e Pascal adicionados ao Mapler.</li>
        </ul>
        <p>Necessário JAVA 11 ou superior.</p>
    </div>
</section>

        </div>
    </main>

    <!-- Footer -->
    <!-- Rodape -->
    <footer th:replace="fragmentos/footer.html"></footer>
    <!-- JS -->
    <!-- Bootstrap 5 Bundle Core -->
<script src="https://portugol.sourceforge.io/assets/js/bootstrap.bundle.min.js"></script></body>

</html>