<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head.html"></head>
<body>

    <!-- Header -->
    <!-- Cabecalho -->
    <header th:replace="fragmentos/header.html"></header>

    <!-- Corpo principal do site -->
    <main>
        <div class="container py-5 px-3 pt-3 px-sm-5">
            <!-- Content -->
            
<!-- Primeira secao -->
<section>
    <h1>Este é um projeto voluntário!</h1>
    <p class="lead mt-3">
        Atualmente a equipe é composta por:
    </p>

    <ul class="lead">
        <li><span class="rosa">Prof. MSc. Daniel Lima Gomes Jr.</span> (<strong>IFMA</strong>), <strong>Coordenador</strong></li>
        <li><span class="rosa">Prof. MSc. Ulysses Santos Sousa</span> (<strong>IFMA</strong>), Colaborador</li>
        <li><span class="rosa">Prof. MSc. Raimundo Osvaldo</span> (<strong>IFMA</strong>), Colaborador</li>
    </ul>

    <ul class="lead">
        <li><span class="rosa">David Gomes</span> (<strong>IFMA</strong>), responsável pelo site do mapler;</li>
        <li><span class="rosa">Elias Rocha Lima</span> (<strong>IFMA</strong>), responsável pela infraestrura do projeto, suporte no desenvolvimento do site e front-end da aplicação;</li>
        <li><span class="rosa">Kerlyson Santos</span> (<strong>IFMA</strong>), responsável pelo back-end e suporte ao front-end da aplicação;</li>
        <li><span class="rosa">Wendell Amorim</span> (<strong>IFMA</strong>), contribuições com o design das logos e interfaces do Mapler.</li>
    </ul>

    <p class="lead">
        Se você tem interesse em participar do desenvolvimento deste trabalho, entre em contato, ou mesmo envie suas dúvidas, sugestões de melhorias ou críticas para o e-mail: <br>
        <a class="text-decoration-none" href="mailto:compiladorportugol@gmail.com">
            <span class="rosa">
                compiladorportugol@gmail.com
            </span>
        </a>
    </p>
    </section>

    <!-- Segunda secao -->
    <section>
    <div class="mt-5">
        <div>
            <h3>Breve Histórico</h3>
        </div>

        <p class="lead">
            Este projeto foi idealizado e iniciado em 2006 na <span class="rosa">Universidade Federal do Maranhão</span> e desenvolvido durante a disciplina de <span class="rosa">Compiladores</span> no curso de <span class="rosa">Graduação em Ciência da Computação</span> pelos alunos na época:
        </p>

        <ul class="lead">
            <li><strong>Daniel Lima Gomes Júnior</strong></li>
            <li><strong>Leandro de Sousa Marques</strong></li>
            <li><strong>Ulysses Santos Sousa</strong></li>
        </ul>

        <p class="lead">
            Os professores que participaram para a construção da versão inicial do projeto:
        </p>

        <ul class="lead">
            <li>
                <strong>Prof. Dr. Carlos de Salles Soares Neto (orientador)</strong>
                <br>
                <strong><span class="text-secondary"><em>Disciplina: Compiladores</em> (versão inicial);</span></strong>
            </li>

            <li>
                <strong>Prof. Dr. Luciano Reis Coutinho</strong>
                <br>
                <strong><span class="text-muted"><em>Disciplina: Projeto</em> de Compiladores (melhoria da ferramenta);</span></strong>
            </li>

            <li>
                <strong>Prof. Dr. Alexandre César Tavares Vidal</strong>
                <br>
                <strong><span class="text-muted"><em>Disciplina: Padrões</em> de Projeto (Refatoração com padrões de Projeto)</span></strong>
            </li>

        </ul>

        <p class="lead">
            Desde o ano de <strong>2007</strong>, após a publicação de um pequeno site que permitia o download da ferramenta temos recebido e-mails de alunos de outras partes do país que estavam com dúvidas na utilização do programa e por conta de outras atividades, resolvemos criar somente agora um projeto no <span class="rosa">SourceForge</span> para a melhoria da versão existente e extensão para criação de uma ferramenta que possa melhorar o ensino de programação.
        </p>

        <p class="lead">
            A partir de 2011 foi criado o grupo de pesquisa utilizando o <strong>SVN</strong> para controlar as versões de desenvolvimento do projeto.
        </p>

        <h2 class="mt-5">Membros do Projeto em 2011:</h2>
        
        <p class="lead">
            <strong>Coordenação e Colaboração do Projeto</strong>
        </p>
        
        <ul class="lead">
            <li><span class="rosa">Prof. Dr. Carlos de Salles Soares Neto</span> <strong>(UFMA)</strong>, <strong>Coordenador</strong></li>
            <li><span class="rosa">Prof. MSc. Daniel Lima Gomes Jr.</span> <strong>(IFMA)</strong>, <strong>Coordenador</strong></li>
            <li><span class="rosa">Prof. MSc. Ulysses Santos Sousa</span> <strong>(IFMA)</strong>, Colaborador</li>
            <li><span class="rosa">Prof. MSc. Gilvan de Oliveira Vilarim</span> <strong>(IFRJ)</strong>, Colaborador</li>
            <li><span class="rosa">Leandro Sousa Marques</span>, Colaborador</li>
        </ul>
        
        <p class="lead">
            <strong>Alunos:</strong>
        </p>
        
        <ul class="lead">
            <li><span class="rosa">Hedvan Fernandes Pinto</span> <strong>(UFMA-PPGEE)</strong></li>
            <li><span class="rosa">Leonardo W. M. Silva</span> <strong>(Graduando, UFMA)</strong></li>
            <li><span class="rosa">Welyab Silva Paula</span> <strong>(Graduando, UFMA)</strong></li>
            <li><span class="rosa">Rafaela Cristina Neri Magalhães</span> <strong>(PIBIC-Jr, IFMA)</strong></li>
        </ul>
        
        <p class="lead">
            Em 2019, o projeto retornou para uma nova fase. Foi formado um novo grupo para refatorar o projeto em uma nova linguagem e corrigir os antigos problemas da versão anterior.
        </p>
        
        <h2 class="mt-5">Membros do Projeto em 2020</h2>

        <p class="lead">
            <strong>Coordenação e Colaboração do Projeto</strong>
        </p>

        <ul class="lead">
            <li><span class="rosa">Prof. MSc. Daniel Lima Gomes Jr.</span> <strong>(IFMA)</strong>, <strong>Coordenador</strong></li>
            <li><span class="rosa">Prof. MSc. Ulysses Santos Sousa</span> <strong>(IFMA)</strong>, Colaborador</li>
            <li><span class="rosa">Prof. MSc. Raimundo Osvaldo</span> <strong>(IFMA)</strong>, Colaborador</li>
        </ul>                    

        <p class="lead">
            <strong>Alunos:</strong>
        </p>

        <ul class="lead">
            <li><span class="rosa">David Gomes</span> <strong>(IFMA)</strong></li>
            <li><span class="rosa">Elias Rocha Lima</span> <strong>(IFMA)</strong></li>
            <li><span class="rosa">Kerlyson Santos</span> <strong>(IFMA)</strong></li>
            <li><span class="rosa">Wendell Amorim</span> <strong>(IFMA)</strong></li>
            <li><span class="rosa">Yasmin Araujo Fernandes</span> <strong>(IFMA)</strong></li>
        </ul>
    </div>
</section>

        </div>
    </main>

    <!-- Footer -->
    <!-- Rodape -->
    <footer th:replace="fragmentos/footer.html"></footer>
    <!-- JS -->
    <!-- Bootstrap 5 Bundle Core -->
<script src="https://portugol.sourceforge.io/assets/js/bootstrap.bundle.min.js"></script></body>

</html>