<!DOCTYPE html>

<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragmentos/head.html"></head>

<body>
<header th:replace="fragmentos/header.html"></header>
<main>
    <div class="container py-5 px-3 pt-3 px-sm-5">
        <div th:replace="fragmentos/menu-ajuda-fluxograma.html"></div>
        <!-- Secao principal -->
        <section>
            <div class="mt-4">
                <!-- Visao Geral -->
                <section id="VisaoGeral">
                    <!-- Descrição rapida -->
                    <!-- <hr class="mt-5"> -->
                    <div id="geral">
                        <h2 class="rosa">Exemplo</h2>
                        <figure class="figure">
                            <figcaption class="figure-caption">Este é um exemplo de fluxograma com início e fim.</figcaption>
                            <img src="https://portugol.sourceforge.io/assets/images/fluxograma/saida-entrada.png" class="rounded float-left" alt="A generic square placeholder image with rounded corners in a figure.">
                        </figure>
                        <p>
                            O fluxograma sempre inicia na figura 'Início' e termina na figura 'Fim'. Entre essas duas figuras, estão representadas outras formas que descrevem a lógica usada pelo fluxograma para resolver o algoritmo.                            </p>
                    </div>

                    <div class="accordion mb-3" id="accordion-fig">
                        <h5 class="accordion-header">
                            <button class="accordion-button custom-icon" type="button" data-bs-toggle="collapse" data-bs-target="#figuras" aria-expanded="true">
                                Sobre as figuras
                            </button>
                        </h5>
                        <div id="figuras" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div id="inicio">
                                    <h2 class="rosa">Início</h2>
                                    <figure class="figure">
                                        <figcaption class="figure-caption">Representação da figura Início</figcaption>
                                        <img src="https://portugol.sourceforge.io/assets/images/fluxograma/figuras/inicio.png" class="rounded float-left" alt="A generic square placeholder image with rounded corners in a figure.">
                                    </figure>
                                    <p>
                                        O ponto de partida do fluxograma é simbolizado pela figura de início, que representa o ponto inicial do algoritmo. Essa figura é sempre utilizada como o ponto de partida lógico para o desenvolvimento do processo.
                                    </p>
                                </div>
                                <div id="fim">
                                    <h2 class="rosa">Fim</h2>
                                    <figure class="figure">
                                        <figcaption class="figure-caption">Representação da figura Fim</figcaption>
                                        <img src="https://portugol.sourceforge.io/assets/images/fluxograma/figuras/fim.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                    </figure>
                                    <p>
                                        A figura de encerramento, representada como 'Fim', sinaliza o término do programa. Quando a lógica alcança este ponto, o código é finalizado.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>

    </div>
</main>
<!-- Rodape -->
<footer th:replace="fragmentos/footer.html"></footer>
<!-- JS -->
<!-- Bootstrap 5 Bundle Core -->
<script src="https://portugol.sourceforge.io/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>